@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --main-bg-color: #FEFEF9;
    --dark-bg-color: black;
    --selected-bg-color: #696969;
    --cards-bg-color: #EAEAEA;
    --blue: #9CCED9;
    --red: #E85D7E;
    --green: #CFEABC;
    --darkGreen: #B3D5AB;
    --purple: #7D5CB8;
    --corner: 20px;
    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

body {
    font-family: 'Raleway';
    background-color: var(--main-bg-color);

}

.colMapa {
    border-radius: var(--corner);
    box-shadow: var(--shadow);
}

.glassmorphism {
    background-color: rgba(236, 21, 21, 0.25);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.custom-tabs-container {
    width: 85%;
    height: auto;
}

.custom-tab {
    color: #fffdff;
    border-top-left-radius: var(--corner);
    border-top-right-radius: var(--corner);
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #080808 !important;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e7ac0a;
    padding-right: 10px !important;
}

.custom-tab--selected {
    color: var(--main-bg-color) !important;
    background-color: var(--selected-bg-color) !important;

}

.underTabs {
    background-color: var(--dark-bg-color);
    border-radius: var(--corner);
}

.custom-tabs {
    display: 70%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: 30%;
    margin-left: 20px;
}